*{
    padding: 0;
    margin: 0;
}

.container-game{
    background-image: url(./../assets/fundo_gradiente.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
    padding-top: 80px;
}

.sobre-game{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.conteudo-game p{
    text-align: justify;
    hyphens: auto;
    text-indent: .5em;
    margin-bottom: 5px;
}
.conteudo-game h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.conteudo-game{
    display: flex;
    flex-direction: column;
}
.imgs-jogo, .imgs-jogo-2{
    width: 95%;
    max-width: 768px;
    height: auto;
    margin-top: 20px;
}
.img-center{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.img-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.historia-game{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recursos-educativos{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 425px){
    .container-game h1{ 
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px){
    .sobre-game, .historia-game, .recursos-educativos{
        max-width: 90%;
    }
}

@media screen and (min-width: 1440px){
    .sobre-game, .historia-game, .recursos-educativos{
        max-width: 80%;
    }

    .img-flex{
        flex-direction: row;
        gap: 10px;
        margin-bottom: 30px;
    }
    .imgs-jogo-2{
        max-width: 500px;
    }
}