*{
    padding: 0;
    margin: 0;
}

#oceano, .home-container{
    color: white;
}
#oceano{
    height: 100vh;
    background-image: url(./../assets/oceano-fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#oceano h1{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.home-container{
    background-image: url(./../assets/home.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
.home-texto{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    align-items: center;
}
.home-texto h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.home-texto p{
    hyphens: auto;
    text-align: justify;
    margin-bottom: 10px;
}
.home-texto span{
    word-break: break-all;
    font-size: 10px;
}
.home-container hr{
    min-width: 95%;
    margin: 50px 0;
}

.economia-azul{
    display: flex;
    flex-direction: column;
    max-width: 95%;
}
.economia-azul h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.economia-azul ol{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 10px;
}
.economia-azul li{
    white-space: pre-wrap;
}

.conteudo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
}
.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.videoContainer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.links{
    color: white;
}

.infografico{
    width: 95%;
    max-width: 768px;
    height: auto;
    margin-top: 20px;
}
#img-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-center span{

    max-width: 768px;
}
.mini-secoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mini-secoes p{
    text-indent: 1.5em;
    hyphens: auto;
    text-align: justify;
}
.mini-secoes span{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.volta{
    color: #bd8b67;
    width: fit-content;
}

@media screen and (min-width: 425px){
    #oceano h1{ 
        font-size: 60px;
    }

    .mini-secoes h3{
        font-size: 20px;
    }

}

@media screen and (min-width: 768px){

    .mini-secoes p, .home-texto p{
        word-break: normal;
    }
}

@media screen and (min-width: 1024px){
    #oceano h1{ 
        font-size: 80px;
    }

    .home-texto{
        max-width: 90%;
    }

    .economia-azul{
        max-width: 90%;
    }


}

@media screen and (min-width: 1440px){
    .home-texto{
        max-width: 80%;
    }

    .economia-azul{
        max-width: 80%;
    }
}