*{
    padding: 0;
    margin: 0;
}

.nf-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url(./../assets/fundo_gradiente.svg);
}

.nf-content h1 {
    font-size: 50px;
}
.nf-content h2{
    font-size: 30px;
    margin-bottom: 20px;
}
#voltar{
    margin-top: 10px;
    padding: 15px;
    background-color: #001f44;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
#voltar:hover{
    background-color: #00A1E0;
}

.radar{
    margin: 20px 0;
}