*{
    padding: 0;
    margin: 0;
}

#carregando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#erro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}
#erro p{
    font-size: 18px;
}
#erro h2{
    font-size: 20px;
}

#voltar{
    width: 200px;
    padding: 15px;
    background-color: #001f44;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
#voltar:hover{
    background-color: #00A1E0;
}

.content-ongs{
    display: flex;
    justify-content: center;
}
.content-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ongs{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 20px;
}
.ongs h3{
    height: 1vh;
    margin-top: 10px;
    max-width: 90%;
}

.descricao-ongs{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    width: 90%;
    margin-bottom: 15px;
    gap: 10px;
}


@media screen and (min-width: 320px) {
    .ongs{
        min-height: 280px;
    }
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgba(255, 255, 255, 0.5) 30%,#0000 0 70%,rgb(255, 255, 255) 0) 50%/8% 100%,
      linear-gradient(90deg,rgba(255, 255, 255, 0.25) 30%,#0000 0 70%,rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }