*{
    padding: 0;
    margin: 0;
}

.secao-ongs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../assets/fundo_gradiente.svg);
    height: 100%;
    padding-top: 100px;
    color: white;
}

.filtro-ongs{
    width: 80%;
}
